<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sigfox messages</title>
</head>
<body>
    <h1>メッセージ一覧</h1>
    <h2>デバイス</h2>
    <table border="1">
        <tr>
            <th>データ名</th>
            <th>データ</th>
        </tr>
        <tr>
                <td>デバイスID</td>
                <td>{{device}}</td>
            </tr>
        <tr>
            <td>タイム</td>
            <td>{{time}}</td>
        </tr>
        <tr>
            <td>データ</td>
            <td>{{data}}</td>
        </tr>
    </table>
</body>
</html>